.o_hide--screen {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 999;
    opacity:0.4;
    font-weight: bold;
    filter: alpha(opacity = 50);
    text-align: center;
    color:red;
    display: none;
}

.p-insert-image {
    margin: 0 3px 6px 0;
    display: inline-flex;
    position: relative;
}

.p-icon-remove {
    position: absolute;
    top: -25%;
    left: 71%;
    z-index: 1000;
}

.o_chip--category {
    display: inline-block;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #e8e8e8;
    margin: 0 3px 6px 0;
    display: inline-flex;
}
.o_chip--category .remove {
    margin-left: 5px;
}

.p-image-inserted {
    height: 5rem;
    width: 100px;
}

.p-div-image-insert {
    margin-top: 3vh;
}

.dz-preview .dz-image img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}
.o-li_selected {
    background: #f1f1f1;
}
.p-hide {
    display: none;
}
.p-show {
    display: block;
}
.o-checkbox__size{
    transform: scale(1.6);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #C0C0C0;
    border-color:  black;
}
.p-radio__button{
    display: none;
}
.p-box__common{
    width: 1.9rem;
    height: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
.p-box__color--white{
    border: 2px solid #ff0000;
    background: #fff;
    font-weight: 600;
    color: #ff0000;
}
.p-box__color--red{
    background: #ff0000;
    color: #fff;
}
.p-box__color--yellow{
    background: #f6ac19;
}
.p-box__color--blue{
    background: #009de0;
    color: #fff;
}
.p-box__color--gray{
    background: #cccccc;
}
.p-radio__button:checked + label div{
    width: 2.5rem;
    height: 2.5rem;
}