.o-backColor__gray--thick{
  background-color: #EEEEEE;
}

.wrapper{
  max-width: 600px;
  margin: 0 auto;
  color: #666;
}
#header {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 1rem 0 0;
}

/*カレンダー*/
.p-calender__out--color{
  color: white;
}
.p-calender__select--color{
  color: white;
  background: black;
}

.p-calender__header {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 1rem 0 0;
}

.o-backColor__gray--thin{
  background-color: #F5F5F5;
}

.o-background__white{
  background: white;
}

.o-backColor__black{
  background-color: black;
}

.o-formWidth{
  margin: 10% 10%;
}

.o-topTitle{
  top: 60px;
  padding-top: 20px;
  padding-left: 16px;
  padding-bottom: 10px;
  background-color: white;
}

.o-container__background--white{
  text-align: left;
  margin-top: 30px;
  background-color: white;
  overflow-wrap: normal;
}

.o-dl__display--table{
  display: table;
  text-align: center;
  width: 100%;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
}

.p-dl__color{
  background-color: #C0C0C0;
}

.o-dtDd__display--table-cell{
  display: table-cell;
  width: 20%;
  padding: 10px 0;
}

.o-dt__width--2{
  width: 2%;
}
.o-dt__width--3{
    width: 3%;
}
.o-dt__width--4{
    width: 4%;
}
.o-dt__width--5{
  width: 5%;
}

.o-dt__width--7{
  width: 7%;
}

.o-dt__width--8{
  width: 8%;
}

.o-dt__width--10{
  width: 10%;
}

.o-dt__width--15{
  width: 15%;
}

.o-dt__width--17{
  width: 17%;
}

.o-button__color--white{
  background: white;
  color: black;
}

.o-marginTop__30{
  margin-top: 30px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color:black;
}

.o-iconReverse{
  display: inline-block;
  transform: scaleX(-1);
}

/* 矢印下 */
.is-arrowDown {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: #333;
  text-decoration: none;
}
.is-arrowDown:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  transform: rotate(45deg);
}

/* 矢印上 */
.is-arrowUp {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: #333;
  text-decoration: none;
}
.is-arrowUp:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  transform: rotate(-45deg);
}

/* カレンダー */
.p-calender__color{
  color: #DDDDDD;
  background: white;
}

.o-needMark__size{
  margin-left: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.o-needMark__size--2{
  margin-left: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.o-paddingLeft-no{
  padding-left: 0;
}

.o-spaceTop{
  margin-top: 7rem;
}

.o-iconRight{
  text-align: right;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color:black;
}

.o-borderDash{
  border: dashed;
}

/* input file 色変更 */
.filelabel{
  display: inline-block;
  position: relative;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  transition: all 0.5s;
}
.filelabel:hover{
  background-color: gray;
}

.fileinput{
  display: none;
}

.o-iconColor{
  color:gainsboro;
}

.o-iconCenter{
  text-align: center;
}

.o-iconLeft{
  text-align: left;
}

.o-col__padding--right--left{
  padding-right: 0;
  padding-left: 0;
}

.o-buttonSize{
  font-size: small;
  padding: 5px 10px;
}

.o-displayNone{
  display: none;
}

.o-fontSize__95{
  font-size: 95%;
}

.o-fontSize__20{
  font-size: 20%;
}

.o-sideRight__font--size{
  font-size: 1rem;
}

.o-checkbox__size{
  transform: scale(1.6);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #C0C0C0;
  border-color:  black;
}

.p-modalDialog__width{
  max-width: 700px;
}

.p-modal__img--height{
  height: 5rem;
}

/* モーダル　画像　チェックボックス */
.p-modal__checkbox input[type=checkbox] {
  display: none;
}
.p-modal__checkbox--color {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
}
.p-modal__checkbox--color::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 0%;
  width: 16px;
  margin-left: 3.8rem;
}
.p-modal__checkbox--color::after {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 0%;
  transform: rotate(45deg);
  width: 5px;
  margin-left: 3.8rem;
}
.p-modal__checkbox input[type=checkbox]:checked + .p-modal__checkbox--color::after {
  opacity: 1;
}

/* 背景　白のチェックボックス */
.p-checkbox input[type=checkbox] {
  display: none;
}
.p-checkbox--color {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
}
.p-checkbox--color::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  width: 16px;
  border-radius: 3px;
}
.p-checkbox--color::after {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  content: '';
  display: block;
  height: 9px;
  left: 5px;
  bottom: 7px;
  opacity: 0;
  position: absolute;
  transform: rotate(45deg);
  width: 5px;
  border-radius: 3px;
}
.p-checkbox input[type=checkbox]:checked + .p-checkbox--color::after {
  opacity: 1;
}

/* 背景　白のチェックボックス テーブル用 */
.p-checkbox input[type=checkbox] {
  display: none;
}
.p-checkbox--color--table {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
}
.p-checkbox--color--table::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  width: 16px;
  border-radius: 3px;
}
.p-checkbox--color--table::after {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  content: '';
  display: block;
  height: 9px;
  left: 5px;
  top: 3px;
  opacity: 0;
  position: absolute;
  transform: rotate(45deg);
  width: 5px;
  border-radius: 3px;
}
.p-checkbox input[type=checkbox]:checked + .p-checkbox--color--table::after {
  opacity: 1;
}

/* サイトセッティング　背景　黒のチェックボックス */
.p-checkbox--color--b {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
}
.p-checkbox--color--b::before {
  background: black;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  width: 16px;
  border-radius: 3px;
}
.p-checkbox--color--b::after {
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  content: '';
  display: block;
  height: 9px;
  left: 5px;
  bottom: 7px;
  opacity: 0;
  position: absolute;
  transform: rotate(45deg);
  width: 5px;
  border-radius: 3px;
}
.p-checkbox input[type=checkbox]:checked + .p-checkbox--color--b::after {
  opacity: 1;
}

/* 背景　黒のチェックボックス */
.p-checkbox--color--black {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
}
.p-checkbox--color--black::before {
  background: black;
  border: 1px solid black;
  content: '';
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  width: 16px;
  border-radius: 3px;
}
.p-checkbox--color--black::after {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  content: '';
  display: block;
  height: 9px;
  left: 5px;
  bottom: 7px;
  opacity: 0;
  position: absolute;
  transform: rotate(45deg);
  width: 5px;
  border-radius: 3px;
}

.o-minHeight__0{
  min-height: 0;
}

.o-detailButton__color{
  color: white;
  background-color: black;
}

/* フロント */

/*　ajaxローディングマーク　 */
#js-overlay{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.p-cv--spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% {
      transform: rotate(360deg);
  }
}
.is-hide{
  display:none;
}
/* bootboxモーダル */
.modal.bootbox .bootbox-body {
  font-size: 1rem;
}

/* 削除、フォーム送信など */
.loading-overlay {
  position: fixed;    
  z-index: 999999 !important;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background: #222;
  top: 0;
  left: 0;
}

.p-label__small{
  width: 5%;
}
.p-label__medium{
  width: 10%;
}
.p-label__large{
  width: 15%;
}